.tool-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .tool-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .image-container {
    overflow: hidden;
  }
  
  .card-image {
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .card-image:hover {
    transform: scale(1.1); /* Zoom in the image */
  }
  
  .add-to-cart-button {
    position: absolute;
    width: 300px;
    height: 50px;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    background-color: rgb(196, 192, 178,0.4);
    color: cadetblue;
    border: 0cap;
  }
  .add-to-cart-button:hover{
    background-color: rgb(150, 196, 197,0.4);
    color: rgb(48, 51, 53);
  }
  
  .tool-card:hover .add-to-cart-button {
    opacity: 1; /* Show the button on hover */
  }
  